# macOS
.DS_Store
# Database
.env

# npm
node_modules/

# DB
web/app/lib/autogen/*
mobile/lib/autogen/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
**/tests/.auth/*

# Codegeneration
**/autogen/*
.vercel

# Infrastructure - sst
**/.sst
